@import "tailwindcss";

:root {
	--max-width: 800px;
	--border-radius: 0.5rem;

	--color-dark: #fdfdfd;
	--color-light: #13151a;
	--color-accent: #3657fc;
	--color-accent-light: #758bfd;
	--color-muted: #353030;
	--color-accent-muted: #758bfd36;

	--badge-color: var(--color-light);
	--badge-background: var(--color-accent-muted);

	--blur-color: #00000010;
	--blur: 0.5rem;
	--white: #fdfdfd;
	--black: #13151a;

	--shadow: 0 0 1px #0001, 0 1px 2px #0001, 0 2px 4px #0001, 0 4px 8px #0001, 0
		8px 16px #0001;
}

@font-face {
	font-family: "Raleway";
	src: url("/fonts/Raleway-Thin.ttf") format("truetype");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Raleway";
	src: url("/fonts/Raleway-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Raleway";
	src: url("/fonts/Raleway-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Raleway";
	src: url("/fonts/Raleway-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Raleway";
	src: url("/fonts/Raleway-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

html.dark {
	--color-dark: #13151a;
	--color-light: #fdfdfd;
	--color-accent: #758bfd;
	--color-accent-light: #3657fc;
	--color-muted: #aa9e9e;

	--blur-color: #00000030;
}

html {
	font-family: "Raleway", sans-serif;
}

body {
	font-size: 20px;
}

.background {
	background-image: radial-gradient(
		ellipse 80% 80% at 50% -20%,
		rgba(120, 119, 198, 0.3),
		rgba(255, 255, 255, 0)
	);
}

@keyframes appear {
	0% {
		opacity: 0;
		transform: translateY(2rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		visibility: hidden;
		top: 4rem;
	}
	100% {
		display: block;
		opacity: 1;
		visibility: visible;
	}
}
