---
const { title } = Astro.props;
---

<span class="badge">
	{title}
</span>
<style>
	.badge {
		padding: 0.25rem 0.5rem;
		border-radius: 0.25rem;
		font-size: 0.75rem;
		font-weight: bold;
		text-align: center;
		display: inline-block;
		color: var(--badge-color);
		background-color: var(--badge-background);
	}
</style>
