---
import Pill from "./Pill.astro";
import Github from "../icons/Github.astro";
import Linkedin from "../icons/Linkedin.astro";
import { Mail } from "@lucide/astro";

interface Props {
	showLabels: boolean;
}

const { showLabels } = Astro.props;
---

<div class="contact-container">
	<Pill url="mailto:leandromatonte99@gmail.com" label="Contactar por mail" showLabel={showLabels}>
		<Mail slot="pill-icon" />
	</Pill>
	<Pill url="https://www.linkedin.com/in/leandro-matonte/" label="Ver perfil de LinkedIn" showLabel={showLabels}>
		<Linkedin slot="pill-icon" />
	</Pill>
	<Pill url="https://github.com/LeandroMatonte" label="Ver perfil de Github" showLabel={showLabels}>
		<Github slot="pill-icon" />
	</Pill>
</div>

<style>
	.contact-container {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
	}
</style>
