---
import Pill from "./Pill.astro";
import Github from "../icons/Github.astro";
import Linkedin from "../icons/Linkedin.astro";
import { Mail } from "@lucide/astro";

const contactLinks = [
	{
		url: "https://www.linkedin.com/in/leandro-matonte/",
		label: "Ver perfil de LinkedIn",
		icon: Linkedin,
	},
	{
		url: "https://github.com/LeandroMatonte",
		label: "Ver perfil de Github",
		icon: Github,
	},
	{
		url: "mailto:leandromatonte99@gmail.com",
		label: "Contactar por mail",
		icon: Mail,
	},
];
---

<div class="relative flex flex-wrap gap-2 w-max">
	{
		contactLinks.map((link) => (
			<Pill url={link.url} label={link.label}>
				<link.icon slot="pill-icon" />
			</Pill>
		))
	}
</div>
