---
import ContactLinks from "./ContactLinks.astro";
---

<footer class="my-16 p-4 text-pretty" transition:name="footer">
	<div class="max-w-[var(--max-width)] mx-auto text-center">
		<p>
			Gracias por tu visita. <br />Si te interesa mi trabajo <span class="text-[var(--color-accent)] font-bold"
				>contactame!</span>
		</p>
		<div class="flex justify-center gap-4 mt-4">
			<ContactLinks />
		</div>
	</div>
</footer>
