<footer>
  <div class="footer-container">
    <h2>Espero que te haya gustado mi Portfolio, si te interesa mi trabajo <span class="text-accent">no dudes en contactarme</span></h2>
  </div>
</footer>
<style>
  footer {
    margin: 4rem 0;
    padding: 1rem;
    text-wrap: pretty;
  }

  .footer-container {
    max-width: var(--max-width);
    margin: 0 auto;
    text-align: center;
  }
</style>