---
import ContactLinks from "./ContactLinks.astro";
---

<footer>
	<div class="footer-container">
		<p>Gracias por tu visita. <br />Si te interesa mi trabajo <span class="text-accent">contactame!</span></p>

		<div class="contact-container">
			<ContactLinks showLabels={false} />
		</div>
	</div>
</footer>
<style>
	footer {
		margin: 4rem 0;
		padding: 1rem;
		text-wrap: pretty;
	}

	.footer-container {
		max-width: var(--max-width);
		margin: 0 auto;
		text-align: center;
	}

	.contact-container {
		display: flex;
		justify-content: center;
		gap: 1rem;
		margin-top: 2rem;
	}
</style>
