---
import ContactLinks from "./ContactLinks.astro";
import { Image } from "astro:assets";
import profileImage from "../img/profile.webp";
---

<header class="flex flex-col items-center gap-4 mb-20 md:flex-row md:gap-8 md:items-start">
	<Image
		class="rounded-full mb-4"
		src={profileImage}
		alt="Leandro"
		quality={80}
		width={200}
		height={200}
		densities={[0.5, 1, 2]}
		loading="eager"
	/>
	<div class="w-full">
		<h1 class="font-bold text-2xl mb-4">Hola, soy Leandro</h1>
		<p class="text-pretty mb-2">
			<span class="text-[var(--color-accent)] font-bold">Desarrollador web</span> con más de 4 años de experiencia creando
			soluciones centradas en el usuario.
		</p>
		<p class="mb-4 text-pretty">Apasionado por el aprendizaje continuo y los desafíos.</p>
		<ContactLinks />
	</div>
</header>
