---
import Tooltip from "./Tooltip.astro";
interface Props {
	url: string;
	label: string;
}

const { url, label } = Astro.props;
---

<Tooltip content={label}>
	<a
		slot="tooltip-objective"
		class="grid place-content-center cursor-pointer p-3 rounded-full hover:bg-(--color-accent-muted) transition-colors duration-200 ease-in-out"
		href={url}
		target="_blank"
		aria-label={label}
	>
		<slot name="pill-icon" />
	</a>
	<p class="tooltip-content" slot="tooltip-content">{label}</p>
</Tooltip>
