---
import Project from "./Project.astro";

import premierImage from "../../img/empaques-premier.webp";
import cxrtoImage from "../../img/cxrto.webp";
---

<section>
	<h2>Proyectos personales</h2>
	<div class="projects-container">
		<Project
			title="Empaques Premier"
			description="Desarrollo completo del sitio de Empaques Premier, desde el diseño hasta su puesta en producción. Implementé una interfaz limpia con llamados a la acción (CTA) bien definidos y optimicé el rendimiento del sitio, alcanzando un puntaje superior a 95 en Google PageSpeed Insights."
			image={premierImage}
			url="https://empaquespremier.com"
			badges={[
				{
					title: "Astro",
				},
			]}
		/>
		<Project
			title="Cxrto"
			description="Herramienta de acortado de URLs con back-end propio, en este caso utilicé NextJS para el frontend, Supabase para el backend y Vercel como hosting."
			image={cxrtoImage}
			url="https://cxrto.vercel.app"
			badges={[
				{
					title: "NextJS",
				},
				{
					title: "Supabase",
				},
			]}
		/>
	</div>
</section>
<style>
	.projects-container {
		display: grid;
		grid-template-columns: 1fr;
		gap: 2rem;
		padding-bottom: 2rem;
		margin-bottom: 2rem;
	}

	@media screen and (min-width: 480px) {
		.projects-container {
			grid-template-columns: repeat(2, 1fr);
		}
	}
</style>
