---
import { ArrowUp } from "@lucide/astro";
---

<button
	type="button"
	class="group hidden place-content-center p-0 fixed bottom-4 right-4 w-11 h-11 bg-light text-dark shadow rounded-full cursor-pointer transition-all duration-200 ease-in-out bg-[var(--color-light)] text-[var(--color-dark)]
	animate-[appear_0.3s_ease-in-out]"
	id="scroll-to-top"
>
	<ArrowUp class="group-hover:-translate-y-1 transition-transform duration-200 ease-in-out" />
</button>

<script>
	import { debounce } from "../utils/utils.js";

	const scrollToTopButton = document.querySelector("#scroll-to-top");

	const toggleScrollToTopButton = () => {
		const scrollY = window.scrollY;

		if (scrollY > 60) {
			if (scrollToTopButton.classList.contains("hidden")) {
				scrollToTopButton.classList.remove("hidden");
				scrollToTopButton.classList.add("grid");
			}
		} else {
			scrollToTopButton.classList.add("hidden");
			scrollToTopButton.classList.remove("grid");
		}
	};

	const scrollToTop = () => {
		window.scrollTo({
			top: 0,
			behavior: "smooth",
		});
	};

	let timer: NodeJS.Timeout | null = null;

	document.addEventListener("astro:page-load", () => {
		scrollToTopButton.addEventListener("click", scrollToTop);

		window.addEventListener(
			"scroll",
			debounce(() => {
				clearTimeout(timer);
				timer = setTimeout(toggleScrollToTopButton, 200);
			}, 200)
		);
	});
</script>
