---
interface Props {
  name: string;
}

const { name } = Astro.props;
---

<div class="skill-item">
  <slot name="skill-icon" />
  <p>{name}</p>
</div>

<style>
  .skill-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .skill-item :global(svg) {
    font-size: 40px;
  }

  p {
    transform: translate(0, .25rem);
    font-size: 16px;
    margin: 0;
    color: var(--color-muted);
  }
</style>
