---
interface Props {
	name: string;
}

const { name } = Astro.props;
---

<div class="relative flex flex-col justify-center items-center gap-2">
	<span class="text-4xl">
		<slot name="skill-icon" />
	</span>
	<p class="text-sm text-[var(--color-muted)]">{name}</p>
</div>
