---
import { Moon, Sun } from "@lucide/astro";
---

<button
	type="button"
	id="themeToggle"
	class="grid place-content-center cursor-pointer p-2 rounded-full hover:bg-(--color-accent-muted) transition-colors duration-200 ease-in-out"
	aria-label="Botón para cambiar el tema de la página"
>
	<Moon class="moon-icon" />
	<Sun class="sun-icon" />
</button>

<style>
	html .moon-icon,
	html.dark .sun-icon {
		display: block;
	}

	html.dark .moon-icon,
	html .sun-icon {
		display: none;
	}
</style>
