---
interface Props {
	title: string;
	list: Array<{
		active: boolean;
		title: string;
		description: string;
		date?: string;
	}>;
}

const { title, list } = Astro.props;

import TimelineItem from "./TimelineItem.astro";
---

<article class="mb-20">
	<h2 class="text-xl font-bold mb-8">{title}</h2>
	<ul class="">
		{list.map((listItem) => <TimelineItem item={listItem} />)}
	</ul>
</article>