---
interface Props {
	item: {
		active: boolean;
		title: string;
		description: string;
		date?: string;
	};
}

const { item } = Astro.props;
const { active, title, description, date } = item;
---

<li
	class:list={[
		"relative ml-4 pl-8 not-last:pb-8",
		"not-last:before:absolute not-last:before:rounded-full not-last:before:bg-[var(--color-light)] not-last:before:opacity-40 not-last:before:top-2 not-last:before:left-0 not-last:before:bottom-0 not-last:before:w-0.5 not-last:before:h-full",
	]}
>
	<span
		class:list={[
			"absolute w-4 h-4 rounded-full top-0 -left-[7px]",
			active ? "bg-[var(--color-accent-light)]" : "bg-[var(--color-light)]",
		]}
	>
		{
			active ? (
				<span class="absolute animate-pulse top-0 left-0 w-full h-full rounded-full bg-[var(--color-accent-light)] filter drop-shadow-[0_0_4px_var(--color-accent-light),0_0_8px_var(--color-accent-light),0_0_16px_var(--color-accent-light)]" />
			) : null
		}
	</span>
	<h2 class="font-medium leading-none mb-2">{title}</h2>
	<p class="mb-0 font-light">{description}</p>
	{date ? <small class="block font-light text-[var(--color-muted)]">{date}</small> : null}
</li>
