---
interface Props {
	content: string;
}

const { content } = Astro.props;
---

<div class="tooltip-container">
	<div class="tooltip-objective">
		<slot name="tooltip-objective" />
	</div>
	<div class="tooltip-content">{content}</div>
</div>

<style>
	.tooltip-container {
		position: relative;
	}

	.tooltip-container .tooltip-content {
		position: absolute;
		width: max-content;
		top: 130%;
		left: 50%;
		transform: translateX(-50%);
		padding: 0.5rem;
		background-color: var(--color-accent);
		color: var(--white);
		border-radius: var(--border-radius);
		font-size: 14px;
		opacity: 0;
		visibility: hidden;
		box-shadow: var(--shadow);
		font-weight: 600;
	}

	.tooltip-container .tooltip-content::after {
		content: "";
		position: absolute;
		top: -10px;
		left: 50%;
		transform: translateX(-50%);
		border-width: 5px;
		border-style: solid;
		border-color: transparent transparent var(--color-accent) transparent;
	}

	@media (min-width: 768px) {
		.tooltip-objective:hover ~ .tooltip-content {
			opacity: 1;
			visibility: visible;
			animation: fadeIn 0.2s ease-in-out forwards;
		}
	}

	@keyframes fadeIn {
		0% {
			opacity: 0;
			visibility: hidden;
			top: 140%;
		}
		100% {
			display: block;
			opacity: 1;
			visibility: visible;
			top: 130%;
		}
	}
</style>
