---
interface Props {
	content: string;
}

const { content } = Astro.props;
---

<div class="tooltip-container relative">
	<div class="tooltip-objective rounded-full">
		<slot name="tooltip-objective" />
	</div>
	<div
		class="tooltip-content absolute p-2 bg-(--color-accent-muted) opacity-0 invisible text-sm text-(--white) shadow-md rounded w-max top-14 left-[50%] -translate-x-[50%]"
	>
		{content}
	</div>
</div>

<style>
	@media (min-width: 768px) {
		.tooltip-objective:hover ~ .tooltip-content {
			opacity: 1;
			visibility: visible;
			animation: fadeIn 0.2s ease-in-out forwards;
		}
	}
</style>
